.container{
 width: 600px;
 height: 150px;
 border: 5px solid #333;   
 margin: 30px auto;
 padding: 5px;
 box-sizing: border-box;
 display:flex;
 /* flex-direction: row-reverse; = membuat semua kotak ke kanan */
 /* flex-direction: column reverse; = membuat kotak memaksa masuk */
/* flex-wrap: wrap; = membuat kotak ke bawah kalau tidak sesuai di container */
/* flex-wrap: wrap-reverse; sebalik dari / */
}


.container div{
    width: 120px;
    height: 120px;
    background-color: rgb(122, 86, 207);
    /* float: left; = untuk m<div<div class="empat">4</div> class="empat">4</div>eretekan ke kanan */
    float: left;  
    margin: 2px;
}